extends ./includes/template_error.pug

block content

    div.error.align-center
        div.container-error.m-auto
            div.row-error.vertical-center-error
                div.col-xs-4.col-sm-4.col-lg-4.col-md-4.error-img.m-auto
                    img.floofy
                div.col-xs-12.col-sm-8.col-md-8.col-lg-8.error-desc.m-auto
                    span.error-title.title
                    p.
                        Apparently there was an error in your request, please check the data inserted or try again later.
                        We apologize for any inconvenience caused.