extends ./includes/template_page.pug

block content

    div.thanks-content
        div.thanks-modal
            h1.text-center.mt-5 Thank You!
            div.d-flex.justify-content-center
                p.text-justify.mt-2.
                    Your message has been sent to me!<br/>
                    As soon as i'll see it, you will receive a replay!<br/>
                    Thanks for get in touch with me!